<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2> Create a new post</h2>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Post content</mat-label>
        <input matInput placeholder="Best books 2022" required formControlName="title"
          [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
        <mat-error>
          <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
            <div *ngIf="f['title'].errors['required']">Post title is required</div>
          </div>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Post description</mat-label>
        <input matInput placeholder="Thrillers, essays and family sagas..." required formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">
        <mat-error>
          <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
            <div *ngIf="f['description'].errors['required']">Post description is required</div>
          </div>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Post content</mat-label>
        <input matInput required>
        <!-- <input matInput required formControlName="content"> -->
        <quill-editor formControlName="content"></quill-editor>

      </mat-form-field>
    </p>

    <p>
      <button mat-flat-button>Let's go</button>
    </p>
  </form>
</div>
