<div *ngIf="posts.length; else loading">
  <table class="table mt-4">
    <thead class="bg-primary" style="color: white;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts; let idx = index">
        <td scope="row">{{ idx + 1 }}</td>
        <td>{{ post.description }}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/admin', 'post', post.id, 'edit']" style="color: white;">
            Open
          </button>
          <!-- <a (click)="remove(post.id)">Remove</a> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
