<table mat-table [dataSource]="posts" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let idx = index"> {{idx + 1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let post"> {{post.description}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let post">
      <button mat-flat-button [routerLink]="['/admin', 'post', post.id, 'edit']">Open
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <div *ngIf="posts.length; else loading"> -->

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
