<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Sign Up</h2>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Maxmuster" required formControlName="username"
          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
        <mat-error>
          <div *ngIf="submitted && f['username'].errors">
            <div *ngIf="f['username'].errors['required']">Username is required</div>
            <div *ngIf="f['username'].errors['minlength']">
              Username must be at least 3 characters
            </div>
          </div>
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder=" name@example.com" required formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
        <mat-error>
          <div *ngIf="submitted && f['email'].errors">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
          </div>
        </mat-error>

      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          <div *ngIf="submitted && f['password'].errors">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </mat-error>

      </mat-form-field>
    </p>
    <p>
      <button type="submit" class="mat-flat-button">Let's go</button>
    </p>
  </form>
</div>
