<div class="container">
  <div class="row  justify-content-center">

    <div class="col-sm-6">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

<!-- username -->
<div class="form-group mt-4 mb-2">
      <label for="username" class="mb-2">Username</label>
      <input type="text" formControlName="username" class="form-control" id="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
      />
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
        <div *ngIf="f['username'].errors['minlength']">
          Username must be at least 6 characters
        </div>
        <div *ngIf="f['username'].errors['maxlength']">
          Username must not exceed 20 characters
        </div>
      </div>
    </div>

    <!-- email -->
    <div class=" form-group mb-2">
      <label for="email" class="mb-2 ">Email</label>
      <input type="text" formControlName="email" class="form-control" id="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
      </div>
    </div>
    <!-- password -->
    <div class="form-group mb-2">
      <label for="password" class="mb-2">Password</label>
      <input type="password" formControlName="password" class="form-control" id="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
        <div *ngIf="f['password'].errors['minlength']">
          Password must be at least 6 characters
        </div>
        <div *ngIf="f['password'].errors['maxlength']">
          Password must not exceed 40 characters
        </div>
      </div>
    </div>

<!-- button -->
    <div class="form-group mt-4">
      <button type="submit" class="btn btn-dark">Sign Up</button>
      <!-- <button type="button" (click)="onReset()" class="btn btn-warning float-right">Reset</button> -->
    </div>
  </form>
  </div>
  </div>
</div>
