<form>
  <!-- [formGroup]="form" (ngSubmit)="submit()" -->
  <div>
    <!-- *ngIf="form; else loading" -->
    <div class="form-group mt-4 mb-2">
      <label for="title" class="mb-2">Post title:</label>
      <input type="text" formControlName="title" class="form-control" id="title"
        [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" />
      <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
        <div *ngIf="f['title'].errors['required']">Post title is required</div>
      </div>
    </div>


    <div class="form-control">
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button class="btn btn-primary" type="submit">Refresh</button>
    <!-- [disabled]="form.invalid || submitted" -->
  </div>
</form>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
