<div class="container" *ngIf="post$ |async as post; else loading">
  <div class="header">
    <div class="row">
      <h1 class="mb-4">{{post.title}}</h1>
    </div>
  </div>
  <div class="row">
    <strong> {{post.author}}</strong>
    <small class="mb-2">{{post.date | date:'medium':'de'}}</small>
  </div>
  <div class="row">
    <quill-view-html [content]="post.text"></quill-view-html>
  </div>
  <button routerLink="/" class="btn btn-dark">Homepage</button>

</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
