<div class="container">
  <div class="header">
    <div class="row">
      <h1 class="mb-4">Post Title</h1>
    </div>
  </div>
  <div class="row">
    <strong>Autor</strong>
    <small class="mb-2">13.03.2022</small>
  </div>
  <div class="row">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis consectetur veniam tempore impedit repellendus
      odio
      nesciunt, reprehenderit recusandae mollitia illo labore laborum odit libero molestias explicabo ducimus placeat
      voluptatibus aut cumque accusamus quos. Incidunt, corrupti mollitia vel natus sapiente totam, eum repellat dolore,
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis consectetur veniam tempore impedit repellendus
      odio nesciunt, reprehenderit recusandae mollitia illo labore
      laborum odit libero molestias explicabo ducimus placeat voluptatibus aut cumque accusamus quos. Incidunt, corrupti
      mollitia vel natus sapiente totam, eum repellat dolore, culpa consequatur adipisci nobis cumque! Eligendi, quis?
    </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.Debitis consectetur veniam tempore impedit repellendus
      odio nesciunt, reprehenderit recusandae mollitia illo labore
      laborum odit libero molestias explicabo ducimus placeat voluptatibus aut cumque accusamus quos. Incidunt, corrupti
      mollitia vel natus sapiente totam, eum repellat dolore, culpa consequatur adipisci nobis cumque! Eligendi, quis?
    </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis consectetur veniam tempore impedit repellendus
      odio nesciunt, reprehenderit recusandae mollitia illo labore laborum odit libero molestias explicabo ducimus
      placeat voluptatibus aut cumque accusamus quos. Incidunt, corrupti mollitia vel natus sapiente totam, eum repellat
      dolore, culpa consequatur adipisci nobis cumque! Eligendi, quis?</p>
  </div>
  <button routerLink="/" class="btn btn-dark">Homepage</button>

</div>
