<mat-drawer-container fullscreen>
  <mat-drawer mode="side" opened>
    <h1 routerLink="/">Angular Admin</h1>
    <mat-list *ngIf="auth.isAuthenticated()">
      <mat-list-item>
        <a [routerLink]=" ['/admin', 'dashboard' ]" routerLinkActive="active" class="nav-item nav-link">Home</a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="['/admin', 'create']" routerLinkActive="active" class="nav-item nav-link">Create</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#" (click)="logout($event) " class="nav-item nav-link">Exit</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
